:root {
    // Colors
    --c-p-xxxl: #000000;
    --c-p-xxl: #252525;
    --c-p-xl: #636363;
    --c-p-l: #878787;
    --c-p-m: #bdbdbd;
    --c-p-s: #e4e4e4;
    --c-p-xs: #f0f0f0;
    --c-p-xxs: #f6f6f6;

    // Borders
    --b-r-s: 4px;
    --b-r-m: 8px;

    // Transitions
    --t-m: 0.16s ease;
}
