.range {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(
        90deg,
        #0ffff1 0%,
        #3826ff 16.15%,
        #e024ff 32.29%,
        #fc1616 50.15%,
        #fbff20 67.79%,
        #64ff22 85.42%,
        #16ffea 100%
    );
    input {
        opacity: 0;
        position: absolute;
        left: 5px;
        width: calc(100% - 10px);
        height: 100%;
    }
}

.thumb {
    z-index: 1;
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 50%;
    border-radius: 100px;
    height: 16px;
    width: 16px;
    transform: translate(4px, -50%);
    background-color: var(--primary-clr);
    border: 3px solid var(--base-clr);
    &:before,
    &:after {
        content: "";
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        display: block;
        width: 3px;
        height: 8px;
        background-color: var(--base-clr);
    }
    &:before {
        top: -8px;
    }
    &:after {
        top: 10px;
    }
}

.scale {
    display: flex;
    height: 100%;
}
