.range {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #222222;

    input {
        opacity: 0;
        position: absolute;
        left: -5px;
        width: calc(100% + 10px);
        height: 100%;
    }
}

.scale {
    display: flex;
    height: 100%;
    background: linear-gradient(
        270deg,
        #7748fc 14.35%,
        rgba(119, 72, 252, 0) 104.48%
    );
}
