.range {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--base-middle-clr);

    input {
        z-index: 4;
        opacity: 0;
        position: absolute;
        left: -5px;
        width: calc(100% + 10px);
        height: 100%;
    }
}

.label {
    z-index: 2;
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
    position: absolute;
    color: var(--primary-clr);
    bottom: 10px;
    left: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.1;
}

.defaultPoint {
    z-index: 3;
    border-radius: 10px;
    width: 4px;
    transform: translate(-2px, -50%);
    height: 4px;
    background-color: var(--primary-clr);
    position: absolute;
    top: 50%;
}

.scale {
    z-index: 1;
    display: flex;
    height: 100%;
}
