.wrap {
    position: relative;
    display: flex;
    height: 100%;
    background: var(--base-middle-clr);
    border-radius: var(--radius-m);
    margin: 0;
}

.radio {
    z-index: 1;
    pointer-events: none;
    user-select: none;
    position: absolute;
    opacity: 0;
}

.label {
    z-index: 1;
    pointer-events: none;
    user-select: none;
    color: var(--primary-clr);
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.1;
}

.item {
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1 1 100%;
    display: flex;
    background-color: var(--base-middle-clr);
}

.thumb {
    pointer-events: none;
    user-select: none;
    position: absolute;
    height: 100%;
    left: 0;
    background-color: var(--secondary-clr);
    // transition: left var(--transition-m);
}
