$shift: 4px;

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: -$shift;
    margin-left: -$shift;
}

.button {
    margin-right: $shift;
    margin-left: $shift;
    margin-bottom: $shift * 3;
}
