.app {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    height: 100%;
    // background-color: var(--base-clr);
}

.canvasWrap {
    overflow: hidden;
    border-radius: var(--radius-l);
    width: 100%;
    height: 300px;
    flex: 0 0 auto;
    display: flex;
    background-position: 0px 0px, 8px 8px;
    background-size: 18px 18px;
    background-image: linear-gradient(
            45deg,
            var(--checker-clr) 25%,
            transparent 25%,
            transparent 75%,
            var(--checker-clr) 75%,
            var(--checker-clr) 100%
        ),
        linear-gradient(
            45deg,
            var(--checker-clr) 25%,
            transparent 25%,
            transparent 75%,
            var(--checker-clr) 75%,
            var(--checker-clr) 100%
        );
    background-color: var(--base-middle-clr);
}

.canvas {
    margin: auto;
}
