@import "../../styles/mixins";

.wrap {
    position: relative;
    display: flex;
}

.activeButton {
    z-index: 11;
    background-color: var(--base-middle-clr);
}

.container {
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 38px;
    right: 0;
    transition: all var(--transition-m);
    transform: scale(0.96);
    transform-origin: right bottom;
}

.activeMenu {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
}

.childContainer {
    min-width: max-content;
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 8px;
    background-color: var(--base-light-clr);
}

.back {
    z-index: -1;
    position: absolute;
    bottom: -72px;
    right: -36px;
    width: 300%;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.3);
}
